//  NEW DARK THEME

$body-bg__dt: #000106;
$body-color__dt: #fff;
$sidebar-bg__dt: #000106;
$card-dark-bg: #000106;
$sidebar-color__dt: #000106;
$header-bg__dt: #000106;
$header-color__dt: #000106;
$sidebar-nav-link-hover-bg__dt: rgba(0, 59, 47, 0.5);
$primary__dt: #00f792;
$dark__dt: #040404;
$secondary__dt: #000106;
$warning__dt: #febb00;

@import "@coreui/coreui-pro/scss/coreui";
